<div class="card">
  <div class="box">
    <p class="title">Máscara</p>
    <div class="warnings">
      <div class="align-warnings">
        <img class="img" src="../../../../assets/images/required-mask.png" alt="">
        <p>Obrigatório</p>
      </div>
      <div class="align-warnings">
        <img  class="img" src="../../../../assets/images/recommended-mask.png" alt="">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="box">
    <p class="title">Toalha</p>
    <div class="warnings">
      <div class="align-warnings">
        <img class="img" src="../../../../assets/images/required-towel.png" alt="">
        <p>Obrigatório</p>
      </div>
      <div class="align-warnings">
        <img  class="img" src="../../../../assets/images/recommended-towel.png" alt="">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="box">
    <p class="title">Bebedouro</p>
    <div class="warnings">
      <div class="align-warnings">
        <img class="img" src="../../../../assets/images/partial-fountain.png" alt="">
        <p>Parcial</p>
      </div>
      <div class="align-warnings">
        <img  class="img" src="../../../../assets/images/forbidden-fountain.png" alt="">
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div class="box">
    <p class="title">Vestiários</p>
    <div class="warnings">
      <div class="align-warnings">
        <img class="img" src="../../../../assets/images/required-lockerroom.png" alt="">
        <p>Liberado</p>
      </div>
      <div class="align-warnings">
        <img  class="img" src="../../../../assets/images/partial-lockerroom.png" alt="">
        <p>Parcial</p>
      </div>
      <div class="align-warnings">
        <img  class="img" src="../../../../assets/images/forbidden-lockerroom.png" alt="">
        <p>Fechado</p>
      </div>
    </div>
  </div>

</div>